# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
